schemas/tms/2.0/xml/tileset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Edited with XMLSpy v2008 sp1 (http://www.altova.com) by Joan Masó
	(UAB-CREAF-MiraMon). Based on previous documents of Keith Pomakis. -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tms="http://www.opengis.net/tms/2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:tmsc="http://www.opengis.net/tms/2.0/common" targetNamespace="http://www.opengis.net/tms/2.0" elementFormDefault="qualified" xml:lang="en">
	<annotation>
		<appinfo>TileMatrixSet 2021-02-02</appinfo>
		<documentation>
			This XML Schema Document encodes the TileMatrisSet data structures.
			TMS is an OGC Standard Copyright (c) 2021 Open Geospatial Consortium, Inc. All Rights Reserved.
		    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>
	<!-- *********************************************************************
	             Includes and imports.
          ********************************************************************* -->
	<include schemaLocation="tilematrixset.xsd"/>
	<include schemaLocation="tilematrixlimits.xsd"/>
	<import namespace="http://www.w3.org/2005/Atom" schemaLocation="../../../kml/2.3/atom-author-link.xsd"/>
	<import namespace="http://www.opengis.net/tms/2.0/common" schemaLocation="common.xsd"/>
	<!-- ****************************************************************************************** -->
	<!-- **  The TileMatrixSetLink, TileMatrixSetLimits and TileMatrixLimits element. ** -->
	<!-- ****************************************************************************************** -->
	<element name="TileSetMetadata">
		<annotation>
			<documentation>Metadata about the TileMatrixSet reference.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="tmsc:DescriptionType">
					<sequence>
						<element name="Version" type="string" minOccurs="0">
							<annotation>
								<documentation>Version of the Tile Set. Changes if the data behind the tiles has been changed</documentation>
							</annotation>
						</element>
						<element name="PointOfContact" type="string" minOccurs="0">
							<annotation>
								<documentation>Useful information to contact the authors or custodians for the Tile Set</documentation>
							</annotation>
						</element>
						<element name="AccessConstraints" minOccurs="0">
							<annotation>
								<documentation>Restrictions on the availability of the Tile Set that the user needs to be aware of before using or redistributing the Tile Set</documentation>
							</annotation>
							<simpleType>
								<restriction base="string">
									<enumeration value="unclassified"/>
									<enumeration value="restricted"/>
									<enumeration value="confidential"/>
									<enumeration value="secret"/>
									<enumeration value="topSecret"/>
								</restriction>
							</simpleType>
						</element>
						<element name="License" type="string" minOccurs="0">
							<annotation>
								<documentation>License applicable to the tiles</documentation>
							</annotation>
						</element>
						<element name="MediaType" type="tmsc:MediaTypeType" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Media types available for the tiles</documentation>
							</annotation>
						</element>
						<element ref="tms:TileMatrixSet" minOccurs="0">
							<annotation>
								<documentation>A tileMatrixSet definition</documentation>
							</annotation>
						</element>
						<element name="TileMatrixSetURI" type="anyURI" minOccurs="0">
							<annotation>
								<documentation>Reference to a tileMatrixSet. Points to a definition of the TileMatrixSet on an official source for the Tile Matrix Set definitions such as the OGC NA definition server (http://www.opengis.net/def/tms/)</documentation>
							</annotation>
						</element>
						<element ref="tmsc:CRS">
							<annotation>
								<documentation>Coordinate Reference System (CRS)</documentation>
							</annotation>
						</element>
						<element name="Epoch" type="double" minOccurs="0">
							<annotation>
								<documentation>Epoch of the Coordinate Reference System (CRS)</documentation>
							</annotation>
						</element>
						<element ref="tms:TileMatrixSetLimit" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Limits for the TileRow and TileCol values for each TileMatrix in the tileMatrixSet. If missing, there are no limits other that the ones imposed by the TileMatrixSet. If present the TileMatrices listed are limited and the rest not available at all</documentation>
							</annotation>
						</element>
						<element ref="tmsc:BoundingBox" minOccurs="0">
							<annotation>
								<documentation>
									Minimum bounding rectangle surrounding
									the visible layer presented by this tile matrix
									set, in the supported CRS </documentation>
							</annotation>
						</element>
						<element name="Created" type="dateTime" minOccurs="0">
							<annotation>
								<documentation>Timestamp indicating when the Tile Set was first produced</documentation>
							</annotation>
						</element>
						<element name="Updated" type="dateTime" minOccurs="0">
							<annotation>
								<documentation>Timestamp of the last Tile Set change/revision</documentation>
							</annotation>
						</element>
						<element ref="tms:Layer" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Style involving all layers used to generate the tileset</documentation>
							</annotation>
						</element>
						<element ref="tms:Style" minOccurs="0">
							<annotation>
								<documentation>Style involving all layers used to generate the tileset</documentation>
							</annotation>
						</element>
						<element ref="tms:CenterPoint" minOccurs="0">
							<annotation>
								<documentation>Location of a tile that nicely represents the tileset. Implementations may use this center value to set the default location or to present a representative tile in a user interface</documentation>
							</annotation>
						</element>
						<element ref="tms:Link" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Links to related resources. Possible link 'rel' values are:'dataset' for a URL pointing to the dataset, 'item' for a URL template to get a tile; 'alternate' for a URL pointing to another representation of the TileSetMetadata (e.g a TileJSON file); 'tiling-scheme' for a definition of the TileMatrixSet; 'geodata' for pointing to a single collection (if the tileset represents a single collection)</documentation>
							</annotation>
						</element>
						<element name="DataType" type="tms:DataTypeType">
							<annotation>
								<documentation>Type of data represented in the tiles</documentation>
							</annotation>
						</element>
						<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
							</annotation>
						</any>
					</sequence>
					<attribute name="id" type="string">
						<annotation>
							<documentation/>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="Layer" type="tms:GeospatialDataType"/>
	<complexType name="GeospatialDataType">
		<annotation>
			<documentation>Geospatial data type</documentation>
		</annotation>
		<complexContent>
			<extension base="tmsc:DescriptionType">
				<sequence>
					<element ref="tmsc:Identifier">
						<annotation>
							<documentation>Unique identifier of the Layer. Implementation of 'identifier'</documentation>
						</annotation>
					</element>
					<element name="GeometryDimension" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids, unspecified: mixed or unknown.</documentation>
						</annotation>
						<simpleType>
							<restriction base="integer">
								<enumeration value="0"/>
								<enumeration value="1"/>
								<enumeration value="2"/>
                        <enumeration value="3"/>
							</restriction>
						</simpleType>
					</element>
					<element name="FeatureType" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Feature type identifier. Only applicable to layers of datatype 'geometries'</documentation>
						</annotation>
					</element>
					<element name="PointOfContact" type="string" minOccurs="0">
						<annotation>
							<documentation>Useful information to contact the authors or custodians for the layer. (e.g. e-mail address, a physical address,  phone numbers, etc)</documentation>
						</annotation>
					</element>
					<element name="Publisher" type="string" minOccurs="0">
						<annotation>
							<documentation>Organization or individual responsible for making the layer available</documentation>
						</annotation>
					</element>
					<element name="Theme" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Category where the layer can be grouped</documentation>
						</annotation>
					</element>
					<element ref="tmsc:CRS" minOccurs="0">
						<annotation>
							<documentation>Coordinate Reference System (CRS)</documentation>
						</annotation>
					</element>
					<element name="Epoch" type="double" minOccurs="0">
						<annotation>
							<documentation>Epoch of the Coordinate Reference System (CRS)</documentation>
						</annotation>
					</element>
					<element name="MinScaleDenominator" type="double" minOccurs="0">
						<annotation>
							<documentation>Minimum scale denominator for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="MaxScaleDenominator" type="double" minOccurs="0">
						<annotation>
							<documentation>Maximum scale denominator for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="MinCellSize" type="double" minOccurs="0">
						<annotation>
							<documentation>Minimum cel size for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="MaxCellSize" type="double" minOccurs="0">
						<annotation>
							<documentation>Maximum cell size for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="MaxTileMatrix" type="tmsc:CodeType" minOccurs="0">
						<annotation>
							<documentation>TileMatrix identifier associated with the MinScaleDenominator</documentation>
						</annotation>
					</element>
					<element name="MinTileMatrix" type="tmsc:CodeType" minOccurs="0">
						<annotation>
							<documentation>TileMatrix identifier associated with the MaxScaleDenominator</documentation>
						</annotation>
					</element>
					<element ref="tmsc:BoundingBox" minOccurs="0">
						<annotation>
							<documentation>Minimum bounding rectangle surrounding the layer</documentation>
						</annotation>
					</element>
					<element name="Created" type="dateTime" minOccurs="0">
						<annotation>
							<documentation>Timestamp indicating when the layer was first produced</documentation>
						</annotation>
					</element>
					<element name="Updated" type="dateTime" minOccurs="0">
						<annotation>
							<documentation>Timestamp of the last layer change/revision</documentation>
						</annotation>
					</element>
					<element ref="tms:Style" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Style used to generate the layer in the tileset</documentation>
						</annotation>
					</element>
					<element name="GeoDataClass" type="tmsc:CodeType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>URI identifying a class of data contained in this layer (useful to determine compatibility with styles or processes)</documentation>
						</annotation>
					</element>
					<element ref="tms:PropertySchema" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Properties represented by the features in this layer. Can be the attributes of a feature dataset (datatype=geometries) or the rangeType of a coverage (datatype=coverage)</documentation>
						</annotation>
					</element>
					<element ref="tms:Link" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Links related to this layer. Possible link 'rel' values are: 'geodata' for a URL pointing to the collection of geospatial data.</documentation>
						</annotation>
					</element>
					<element name="DataType" type="tms:DataTypeType">
						<annotation>
							<documentation>Type of data represented in the layer</documentation>
						</annotation>
					</element>
					<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
						</annotation>
					</any>
				</sequence>
				<attribute name="id" type="string">
					<annotation>
						<documentation/>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="PropertySchema" type="tms:FeatureAttributeType"/>
	<complexType name="FeatureAttributeType">
		<annotation>
			<documentation>Properties represented by the features in this layer. Can be the attributes of a feature dataset (datatype=geometries) or the rangeType of a coverage (datatype=coverage)</documentation>
		</annotation>
		<complexContent>
			<extension base="tmsc:DescriptionType">
				<sequence>
					<element name="Type" type="string">
						<annotation>
							<documentation>The data type of the attribute</documentation>
						</annotation>
					</element>
					<element name="Pattern" type="string" minOccurs="0">
						<annotation>
							<documentation>Regular expression to validate the values of the attribute</documentation>
						</annotation>
					</element>
					<element name="MediaType" type="tmsc:MediaTypeType" minOccurs="0">
						<annotation>
							<documentation>Encodings of a complex attribute (e.g. an image/png)</documentation>
						</annotation>
					</element>
					<element name="AcceptedValues" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Valid values of the attribute</documentation>
						</annotation>
					</element>
					<element name="Range" type="string" minOccurs="0" maxOccurs="2">
						<annotation>
							<documentation>Range of valid values expressed as an array of two items</documentation>
						</annotation>
					</element>
					<element name="lowerMultiplicity" type="nonNegativeInteger" minOccurs="0">
						<annotation>
							<documentation>Lower multiplicity of the attribute. Default is 0 (optional)</documentation>
						</annotation>
					</element>
					<element name="upperMultiplicity" type="nonNegativeInteger" minOccurs="0">
						<annotation>
							<documentation>Upper multiplicity of the attribute. Default is many (unbounded)</documentation>
						</annotation>
					</element>
					<element name="ObservedProperty" type="string" minOccurs="0">
						<annotation>
							<documentation>Measured phenomenon (variable) label, commonly a descriptive name</documentation>
						</annotation>
					</element>
					<element name="ObservedPropertyURI" type="anyURI" minOccurs="0">
						<annotation>
							<documentation>URI pointing to a representation of the definition of the measured phenomenon (variable)</documentation>
						</annotation>
					</element>
					<element name="UoM" type="string" minOccurs="0">
						<annotation>
							<documentation>Units of measure characterizing the values of the attribute</documentation>
						</annotation>
					</element>
					<element name="UoMURI" type="anyURI" minOccurs="0">
						<annotation>
							<documentation>URI pointing to a representation of the definition of the units of measure characterizing the values of the attribute</documentation>
						</annotation>
					</element>
					<element ref="tmsc:Identifier">
						<annotation>
							<documentation>Unique identifier of the attribute</documentation>
						</annotation>
					</element>
					<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
						</annotation>
					</any>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="Style" type="tms:StyleType"/>
	<complexType name="StyleType">
		<annotation>
			<documentation>Style used to generate the tiles</documentation>
		</annotation>
		<complexContent>
			<extension base="tmsc:DescriptionType">
				<sequence>
					<element ref="tms:Link" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Links to related resources. Possible link 'rel' values are: 'style' for a URL pointing to the style description, 'styleSpec' for a URL pointing to the specification or standard used to define the style</documentation>
						</annotation>
					</element>
					<element ref="tmsc:Identifier">
						<annotation>
							<documentation>Unique identifier of the stype</documentation>
						</annotation>
					</element>
					<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
						</annotation>
					</any>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<simpleType name="DataTypeType">
		<annotation>
			<documentation>Data type for tiles and layers</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="map"/>
			<enumeration value="vector"/>
			<enumeration value="coverage"/>
		</restriction>
	</simpleType>
	<!-- =========================================================== -->
	<element name="CenterPoint" type="tms:TilePointType"/>
	<complexType name="TilePointType">
		<annotation>
			<documentation>Point in a tile matrix</documentation>
		</annotation>
		<sequence>
			<element name="Coordinates" type="tmsc:PositionType">
				<annotation>
					<documentation>Location of the center point of the tile set.</documentation>
				</annotation>
			</element>
			<element ref="tmsc:CRS" minOccurs="0">
				<annotation>
					<documentation>Coordinate Reference System (CRS)</documentation>
				</annotation>
			</element>
			<element name="ScaleDenominator" type="double" minOccurs="0">
				<annotation>
					<documentation>Scale denominator of the tile matrix selected</documentation>
				</annotation>
			</element>
			<element name="CellSize" type="double" minOccurs="0">
				<annotation>
					<documentation>Cell size of the tile matrix selected</documentation>
				</annotation>
			</element>
			<element name="TileMatrix" type="tmsc:CodeType" minOccurs="0">
				<annotation>
					<documentation>TileMatrix identifier associated with the scaleDenominator</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="Link" type="tms:LinkType"/>
	<complexType name="LinkType">
		<annotation>
			<documentation>Templated link based on atom link</documentation>
		</annotation>
		<attribute name="href" use="required"/>
		<attribute name="rel"/>
		<attribute name="type" type="atom:atomMediaType"/>
		<attribute name="hreflang" type="atom:atomLanguageTag"/>
		<attribute name="title"/>
		<attribute name="length"/>
		<attribute name="templated"/>
	</complexType>
</schema>
