schemas/tms/2.0/xml/tileset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Edited with XMLSpy v2008 sp1 (http://www.altova.com) by Joan Masó 
	(UAB-CREAF-MiraMon). Based on previous documents of Keith Pomakis. -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tms="http://www.opengis.net/tms/2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:common="http://www.opengis.net/common/1.0" targetNamespace="http://www.opengis.net/tms/2.0" elementFormDefault="qualified" xml:lang="en">
	<annotation>
		<appinfo>TileMatrixSet 2021-02-02</appinfo>
		<documentation>
			This XML Schema Document encodes the TileMatrisSet data structures.
			TMS is an OGC Standard Copyright (c) 2021 Open Geospatial Consortium, Inc. All Rights Reserved. 
		    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>

	<!-- *********************************************************************
	             Includes and imports.                            
          ********************************************************************* -->
    <include schemaLocation="tilematrixset.xsd"/>
    <include schemaLocation="tilematrixlimits.xsd"/>
	<import namespace="http://www.w3.org/2005/Atom" schemaLocation="../../../kml/2.3/atom-author-link.xsd"/>
	<import namespace="http://www.opengis.net/common/1.0" schemaLocation="../../../common/1.0/xml/all.xsd"/>

	<!-- ****************************************************************************************** -->
	<!-- **  The TileMatrixSetLink, TileMatrixSetLimits and TileMatrixLimits element. ** -->
	<!-- ****************************************************************************************** -->
	<element name="TileSetMetadata">
		<annotation>
			<documentation>Metadata about the TileMatrixSet reference.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="common:DescriptionType">
					<sequence>
						<element name="Version" type="string" minOccurs="0">
							<annotation>
								<documentation>Version of the Tile Set. Changes if the data behind the tiles has been changed</documentation>
							</annotation>
						</element>
						<element name="PointOfContact" type="string" minOccurs="0">
							<annotation>
								<documentation>Useful information to contact the authors or custodians for the Tile Set</documentation>
							</annotation>
						</element>
						<element name="AccessConstraints" minOccurs="0">
							<annotation>
								<documentation>Restrictions on the availability of the Tile Set that the user needs to be aware of before using or redistributing the Tile Set</documentation>
							</annotation>
							<simpleType>
								<restriction base="string">
									<enumeration value="unclassified"/>
									<enumeration value="restricted"/>
									<enumeration value="confidential"/>
									<enumeration value="secret"/>
									<enumeration value="topSecret"/>
								</restriction>
							</simpleType>
						</element>
						<element name="MediaType" type="common:MediaTypeType" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Media types available for the tiles</documentation>
							</annotation>
						</element>
						<element ref="tms:TileMatrixSet" minOccurs="0">
							<annotation>
								<documentation>A tileMatrixSet definition</documentation>
							</annotation>
						</element>
						<element name="TileMatrixSetURI" type="anyURI" minOccurs="0">
							<annotation>
								<documentation>Reference to a tileMatrixSet. Points to a definition of the TileMatrixSet in the OGC NA definition server (http://www.opengis.net/def/tms/)</documentation>
							</annotation>
						</element>
						<element name="TileMatrixSetDefinition" type="anyURI" minOccurs="0">
							<annotation>
								<documentation>Reference to a tileMatrixSet. Points to a definition of the TileMatrixSet provided by a tile service</documentation>
							</annotation>
						</element>
						<element ref="tms:TileMatrixLimits" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Limits for the TileRow and TileCol values for each TileMatrix in the tileMatrixSet. If missing, there are no limits other that the ones imposed by the TileMatrixSet. If present the TileMatrices listed are limited and the rest not available at all</documentation>
							</annotation>
						</element>
						<element ref="common:BoundingBox" minOccurs="0">
							<annotation>
								<documentation>
									Minimum bounding rectangle surrounding 
									the visible layer presented by this tile matrix 
									set, in the supported CRS </documentation>
							</annotation>
						</element>
						<element ref="tms:Date" minOccurs="0">
							<annotation>
								<documentation>Type of data represented in the tiles</documentation>
							</annotation>
						</element>
						<element ref="tms:Layer" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Style involving all layers used to generate the tileset</documentation>
							</annotation>
						</element>
						<element ref="tms:Style" minOccurs="0">
							<annotation>
								<documentation>Style involving all layers used to generate the tileset</documentation>
							</annotation>
						</element>
						<element ref="tms:CenterPoint" minOccurs="0">
							<annotation>
								<documentation>Style involving all layers used to generate the tileset</documentation>
							</annotation>
						</element>
						<element ref="atom:link" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Links to related resources. Possible link 'role' values are: 'dataset' for a URL pointing to the dataset, 'tiles' for a URL template to get the tiles. 'alternate' for a URL pointing to another representation of the TileSetMetadata (e.g a TileJSON file)</documentation>
							</annotation>
						</element>
						<element name="DataType" type="tms:DataTypeType">
							<annotation>
								<documentation>Type of data represented in the tiles</documentation>
							</annotation>
						</element>
						<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
							</annotation>
						</any>
					</sequence>
					<attribute name="id" type="string">
						<annotation>
							<documentation/>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<!-- =========================================================== -->
	<element name="Layer" type="tms:GeospatialDataType"/>	
	<complexType name="GeospatialDataType">
		<annotation>
			<documentation>Geospatial data type</documentation>
		</annotation>
		<complexContent>
			<extension base="common:DescriptionType">
				<sequence>
					<element ref="common:Identifier">
						<annotation>
							<documentation>Unique identifier of the Layer. Implemetion of 'identifier'</documentation>
						</annotation>
					</element>
					<element name="GeometryType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The geometry type of the features shown in this layer</documentation>
						</annotation>
							<simpleType>
								<restriction base="string">
									<enumeration value="points"/>
									<enumeration value="lines"/>
									<enumeration value="polygons"/>
								</restriction>
							</simpleType>
					</element>
					<element name="FeatureType" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Feature type identifier. Only applicable to layers of datatype 'geometries'</documentation>
						</annotation>
					</element>
					<element name="pointOfContact" type="string" minOccurs="0">
						<annotation>
							<documentation>Useful information to contact the authors or custodians for the layer. (e.g. e-mail address, a physical address,  phone numbers, etc)</documentation>
						</annotation>
					</element>
					<element name="Publisher" type="string" minOccurs="0">
						<annotation>
							<documentation>Organization or individual responsible for making the layer available</documentation>
						</annotation>
					</element>
					<element name="Theme" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Category where the layer can be grouped</documentation>
						</annotation>
					</element>
					<element ref="common:SupportedCRS" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Coordinate Reference System (CRS)</documentation>
						</annotation>
					</element>
					<element name="MinScaleDenominator" type="double" minOccurs="0">
						<annotation>
							<documentation>Minimum scale denominator for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="MaxScaleDenominator" type="double" minOccurs="0">
						<annotation>
							<documentation>Maximum scale denominator for usage of the layer</documentation>
						</annotation>
					</element>
					<element name="maxTileMatrix" type="common:CodeType" minOccurs="0">
						<annotation>
							<documentation>TileMatrix identifier associated with the minScaleDenominator</documentation>
						</annotation>
					</element>
					<element name="minTileMatrix" type="common:CodeType" minOccurs="0">
						<annotation>
							<documentation>TileMatrix identifier associated with the maxScaleDenominator</documentation>
						</annotation>
					</element>
					<element ref="common:BoundingBox" minOccurs="0">
						<annotation>
							<documentation>Minimum bounding rectangle surrounding the layer</documentation>
						</annotation>
					</element>
					<element ref="tms:Date" minOccurs="0">
						<annotation>
							<documentation>Dates of creation, publication, revision, validity and reception of the layer</documentation>
						</annotation>
					</element>
					<element ref="tms:Style" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Style used to generate the layer in the tileset</documentation>
						</annotation>
					</element>
					<element name="StylableLayerSet" type="common:CodeType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Identifiers of styles that can be used in conjunction with this layer</documentation>
						</annotation>
					</element>
					<element ref="tms:PropertiesSchema" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Properties represented by the features in this layer</documentation>
						</annotation>
					</element>
					<element ref="atom:link" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Links related to this layer. Possible link 'rel' values are: 'collection' for a URL pointing to the collection</documentation>
						</annotation>
					</element>
					<element name="DataType" type="tms:DataTypeType">
						<annotation>
							<documentation>Type of data represented in the layer</documentation>
						</annotation>
					</element>
					<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
						</annotation>
					</any>
				</sequence>
				<attribute name="id" type="string">
					<annotation>
						<documentation/>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<!-- =========================================================== -->
	<element name="PropertiesSchema" type="tms:PropertiesSchemaType"/>	
	<complexType name="PropertiesSchemaType">
		<annotation>
			<documentation>Type of data represented in the tiles</documentation>
		</annotation>
		<sequence>
			<element name="ToDo" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was first produced</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	 	
    <!-- =========================================================== -->
	<element name="Style" type="tms:StyleType"/>	
	<complexType name="StyleType">
		<annotation>
			<documentation>Type of data represented in the tiles</documentation>
		</annotation>
		<sequence>
			<element name="ToDo" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was first produced</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	

    <!-- =========================================================== -->
	<simpleType name="DataTypeType">
		<annotation>
			<documentation>Data type for tiles and layers</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="map"/>
			<enumeration value="vector"/>
			<enumeration value="coverage"/>
		</restriction>
	</simpleType>
	
	<!-- =========================================================== -->
	<element name="Date" type="tms:DateType"/>
	<complexType name="DateType">
		<annotation>
			<documentation>Type of data represented in the tiles</documentation>
		</annotation>
		<sequence>
			<element name="CreatedOn" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was first produced</documentation>
				</annotation>
			</element>
			<element name="PublishedOn" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was first made available to the users</documentation>
				</annotation>
			</element>
			<element name="RevisedOn" type="dateTime">
				<annotation>
					<documentation>Timestamp of the last Tile Set change/revision</documentation>
				</annotation>
			</element>
			<element name="ReceivedOn" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was received from an external provider</documentation>
				</annotation>
			</element>
			<element name="ValidUntil" type="dateTime">
				<annotation>
					<documentation>Timestamp marking the future validity of the Tile Set (the Tile Set may no longer be applicable at this date, or that a new revision of the Tile Set is going to be issued)		
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<!-- =========================================================== -->
	<element name="CenterPoint" type="tms:TilePointType"/>
	<complexType name="TilePointType">
		<annotation>
			<documentation>Type of data represented in the tiles</documentation>
		</annotation>
		<sequence>
			<element name="ToDo" type="dateTime">
				<annotation>
					<documentation>Timestamp indicating when the Tile Set was first produced</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
